body {
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 70px;
  background-color: #fff;
}

.navbar-inverse {
  background-color: #000;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #9a9a9a;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li.active > a {
  color: #fff;
}

.carousel-inner > .item > img {
  width: 100%;
  height: auto;
}
